<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>炫酷动漫</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/boby.css">
</head>
<body>
<from id="login-info" class="sn-login-info" > 
    <em class="a">欢迎进入</em>
    <a href="login" style="text-decoration: none" target="_blank">请登录</a>
    <a href="register" style="text-decoration: none" target="_blank">免费注册</a>
    <a href="mobile/weixin/login.php" style="text-decoration: none" target="_blank">其它登陆</a>
</from>
<div>
    <input aria-haspopup="true" role="combobox" class="s-combobox-input" style="border-radius: 7px;"name="keywords" id="keyword" tabindex="9" accesskey="s" onkeyup="STip(this.value, event);" autocomplete="off" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}else{this.value=this.value;}" onblur="if(this.value=='')this.value='请输入关键词'" type="text">
</div>
<div>
    <input type="submit" value="搜索" class="C">
</div>
<ul class="D">
    <li>
       <a href="#"  target="_blank" class="b">英雄联盟</a> 
    </li>
    <li>
       <a href="#" target="_blank" class="c">王者荣耀</a>
    </li>
    <li>
       <a href="#" target="_blank" class="d">火影<a>
    </li>
    <li>
       <a href="#" target="_blank" class="e">死神</a> 
    </li>
    <li>
       <a href="#" target="_blank" class="f">海贼王</a> 
    </li>
    <li>
       <a href="#" target="_blank" class="g">七龙珠</a> 
    </li>
    <li>
      <a href="#" target="_blank" class="h">名侦探柯南</a> 
    </li>
</ul>
<div>
    <img src="images/ABC.jpg" class="B">
    <a class="l">炫酷动漫</a>
</div> 
<div class="E">
   <ul>
      <li><a href="" target="_blank">首页</a></li>
      <li><a href="" target="_blank">最近更新</a></li>
      <li><a href="" target="_blank">日漫</a></li>
      <li><a href="" target="_blank">国漫</a></li>
      <li><a href="" target="_blank">资讯</a></li>
      <li><a href="" target="_blank">排行榜</a></li>
      <li><a href="" target="_blank">历史</a></li>
      <li><a href="" target="_blank">更多分类</a></li>
   </ul>
</div> 
</body>
</html>