<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
</head>
<body background="images/A.jpg"
style="background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed"
>
<div class="box">
    <div id="tittle"><h2 align="center">登录</h2></div>
    <p class="input_box">
        账户： <input id="uname" type="text" name="name" placeholder="请输入您的昵称6-12位">
    </p>
    <p class="input_box">
        密码： <input id="upass" type="password" name="password" placeholder="请输入您的密码6-12位">
    </p>

    <div id="error_box"><br></div>
    <div class="button"><button onclick="foLogin()" id="enter">登录</button></div>
   <h4 align="center"> <a href="/register">没有账号？点我啊</a></h4>
</div>
<script type="text/javascript" src="/javascripts/login.js"></script> 
   <script>
$('#enter').click(function(){
    $.ajax({
        type:"post",
        url:'/login',
        data:{"username":$('#uname').val(),"password":$("#upass").val()},
        success:function(data){
            if(data.status==1){
                window.location.href="/boby"
            }
        }
    })
})
   </script>
</body>