<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
</head>
<body background="/images/A.jpg"
style="background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed"
>
<div class="box">
    <div id="tittle"><h2 align="center">注册</h2></div>
    <p class="input_box">
        账户： <input id="uname" type="text"  name="name" placeholder="请输入您的昵称" style="height: 30px;
        width: 300px;">
    </p>
    <p class="input_box">
        密码： <input id="upass" type="password" name="psaaword"  placeholder="请设置您的密码" style="height: 30px;
        width: 300px;">
    </p>
    <p class="input_box">
       验证：  <input id="upass1" type="password" name="password1" placeholder="请再次输入密码" style="height: 30px;
       width: 300px;">
    </p>
     <p class="input_box">
        邮箱： <input id="youxiang" type="password" placeholder="请输入您的邮箱" style="height: 30px;
        width: 300px;">
    </p>

    <div id="error_box"><br></div>
    <div class="button"><button onclick="foLogin()" id="sign">立即注册</button></div>
    <h4 align="center"> <a href="/login">已有账号请登录</a></h4>


</div>
   <script src="/javascripts/jquery-3.5.1.min.js"></script>
   <script type="text/javascript" src="/javascripts/register.js"></script> 
   <script>
$('#sign').click(function(){
    $.ajax({
        type:"post",
        url:'/register',
        data:{"username":$('#uname').val(),"password":$("#upass").val()},
        success:function(data){
            if(data.status==1){
                window.location.href="/login"
            }
        }
    })
})
   </script>
</body>