.h2 {
    font-family: 宋体;
    font-size: 28px;
    text-align: center;
    background: #cccccc;
    margin-top: auto;
    height: 30px;
    width: 500px;
}
.box {
    border: 1px solid #000000;
    height: 370px;
    width: 500px;
    float: left;
    margin: 50px;
 margin-left: 30%;
}

.input_box{
    text-align: center;
    height: 30px;
    width: 500px;

}
.input {
    align-self: center;
    height: 30px;
    width: 300px;
}
.input {
    height: 30px;
    width: 300px;
}

button{

    font-size: 22px;
    width: 170px;
    height: 30px;
    align-self: center;
   margin-bottom: auto;
   background:#5669b0;
margin-left: 35%;



}